# [作業目標]

1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

將適用於數學的陣列型態，封裝成適合用於資料分析的型態

2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

In [22]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [37]:
Country = pd.DataFrame(df['Country'])
print(Country.shape) 
print(Country.size) 
print(Country.dtypes) 
print(Country.columns)
print(len(Country)) 
print(Country)  
print(Country.values)

(10, 1)
10
Country    object
dtype: object
Index(['Country'], dtype='object')
10
   Country
0   France
1    Spain
2  Germany
3    Spain
4  Germany
5   France
6    Spain
7   France
8  Germany
9   France
[['France']
 ['Spain']
 ['Germany']
 ['Spain']
 ['Germany']
 ['France']
 ['Spain']
 ['France']
 ['Germany']
 ['France']]

In [39]:
Country = pd.Series(df['Country'])
print(Country.shape) 
print(Country.size) 
print(Country.dtypes) 
print(len(Country)) 
print(Country)  
print(Country.values)

(10,)
10
object
10
0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object
['France' 'Spain' 'Germany' 'Spain' 'Germany' 'France' 'Spain' 'France'
 'Germany' 'France']

In [40]:
Age = pd.DataFrame(df['Age'])
print(Age.shape) 
print(Age.size) 
print(Age.dtypes) 
print(Age.columns)
print(len(Age)) 
print(Age)  
print(Age.values)

(10, 1)
10
Age    float64
dtype: object
Index(['Age'], dtype='object')
10
    Age
0  44.0
1  27.0
2  30.0
3  38.0
4  40.0
5  35.0
6   NaN
7  48.0
8  50.0
9  37.0
[[44.]
 [27.]
 [30.]
 [38.]
 [40.]
 [35.]
 [nan]
 [48.]
 [50.]
 [37.]]

In [41]:
Age = pd.Series(df['Age'])
print(Age.shape) 
print(Age.size) 
print(Age.dtypes) 
print(len(Age)) 
print(Age)  
print(Age.values)

(10,)
10
float64
10
0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6     NaN
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64
[44. 27. 30. 38. 40. 35. nan 48. 50. 37.]

In [42]:
Salary = pd.DataFrame(df['Salary'])
print(Salary.shape) 
print(Salary.size) 
print(Salary.dtypes) 
print(Salary.columns)
print(len(Salary)) 
print(Salary)  
print(Salary.values)

(10, 1)
10
Salary    float64
dtype: object
Index(['Salary'], dtype='object')
10
    Salary
0  72000.0
1  48000.0
2  54000.0
3  61000.0
4      NaN
5  58000.0
6  52000.0
7  79000.0
8  83000.0
9  67000.0
[[72000.]
 [48000.]
 [54000.]
 [61000.]
 [   nan]
 [58000.]
 [52000.]
 [79000.]
 [83000.]
 [67000.]]

In [43]:
Salary = pd.Series(df['Salary'])
print(Salary.shape) 
print(Salary.size) 
print(Salary.dtypes) 
print(len(Salary)) 
print(Salary)  
print(Salary.values)

(10,)
10
float64
10
0    72000.0
1    48000.0
2    54000.0
3    61000.0
4        NaN
5    58000.0
6    52000.0
7    79000.0
8    83000.0
9    67000.0
Name: Salary, dtype: float64
[72000. 48000. 54000. 61000.    nan 58000. 52000. 79000. 83000. 67000.]

In [44]:
Purchased = pd.DataFrame(df['Purchased'])
print(Purchased.shape) 
print(Purchased.size) 
print(Purchased.dtypes)
print(Purchased.columns)
print(len(Purchased)) 
print(Purchased)  
print(Purchased.values)

(10, 1)
10
Purchased    object
dtype: object
Index(['Purchased'], dtype='object')
10
  Purchased
0        No
1       Yes
2        No
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes
[['No']
 ['Yes']
 ['No']
 ['No']
 ['Yes']
 ['Yes']
 ['No']
 ['Yes']
 ['No']
 ['Yes']]

In [45]:
Purchased = pd.Series(df['Purchased'])
print(Purchased.shape) 
print(Purchased.size) 
print(Purchased.dtypes)
print(len(Purchased)) 
print(Purchased)  
print(Purchased.values)

(10,)
10
object
10
0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']