# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [1]:
import numpy as np
import pandas as pd

**1. 請接下列資料依照指定規則做合併：**

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      2
1  banana  medium     12
2  orange     low      5
3   apple    high      1
4  banana  medium      8
5  orange     low      9
6   apple    high      8
7  banana  medium      6
8  orange     low      7
    fruit weight  price
0   apple   high     14
1  orange    low      5
2    pine   high      0
3   apple    low      8
4  orange   high      0
5    pine    low     14

```
- 依照 fruit 欄位做合併
```

In [8]:
pd.merge(df1, df2, on="fruit")

     fruit weight_x  price_x weight_y  price_y
0    apple     high        2     high       14
1    apple     high        2      low        8
2    apple     high        1     high       14
3    apple     high        1      low        8
4    apple     high        8     high       14
5    apple     high        8      low        8
6   orange      low        5      low        5
7   orange      low        5     high        0
8   orange      low        9      low        5
9   orange      low        9     high        0
10  orange      low        7      low        5
11  orange      low        7     high        0

```
- 依照 index 索引做合併
```

In [13]:
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

**2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？**

因為 merge 有預設的方法是兩邊同時存在才會合併，只存在一邊的資料就不見了。

**3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。**

因為原本的欄位重複，導致無法正確合併。

In [12]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          2     apple       high       14.0
1    banana     medium         12    orange        low        5.0
2    orange        low          5      pine       high        0.0
3     apple       high          1     apple        low        8.0
4    banana     medium          8    orange       high        0.0
5    orange        low          9      pine        low       14.0
6     apple       high          8       NaN        NaN        NaN
7    banana     medium          6       NaN        NaN        NaN
8    orange        low          7       NaN        NaN        NaN